Source: shigitsu
Section: admin
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.1.4
Homepage: http://www.lliurex.net

Package: shigitsu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-git, python3-svn
Description: shigitsu
 Shigitsu Is a Git to Subversion synchronizer
